name = "PeriodicARModels"
uuid = "8fb27774-97dd-4e71-ba3d-ec1f27cf7f43"
authors = ["ArnaudG0649 <arnaudcmc@hotmail.com> and contributors"]
version = "1.0.0-DEV"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
